p{
    margin:0;
}
body{
    position:relative;
    font-family:Mona Sans, Arial;
    background-color: rgb(11, 11, 19);
    color:white;
}
.main-content{
    position:absolute;
    top:80px;
    left:370px;
    width:calc(100% - 370px);
}
.main-content h2{
    font-size:24px;
    font-weight:600;
    margin-bottom:10px;
}

.search-box-container{
    display:flex;
    max-width:800px;
    flex:1;
    flex-direction:column;
}
.search-box{
    background-color:rgb(36, 35, 40);
    border:1px solid rgb(78, 78, 78);
    border-radius:10px;
    max-width:800px;
    font-size:16px;
    resize:none;
    height:100px;
    color:white;
    font-family:Arial;
    height:100px;
    padding-left:15px;
    padding-top:20px;
}
.plus-icon{
    color:lightgray;
    margin:0;
    margin-left:5px;
}
.box-container2{
    padding:5px;
    white-space:nowrap;
    font-size:14px;
    margin-left:5px;
    width:245px;
    color:lightgray;
    justify-content:space-between;
    display:flex;
    align-items:center;
}
.box-container2:hover{
    background-color:rgb(50, 50, 50);
    border-radius:5px;
    cursor:pointer;
}
.box-container2:active{
    background-color:rgb(70, 70, 70);
}
.search-bottom-area{
    position:relative;
    top:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:10px;

}
.send-btn{
    padding:5px;
    margin-right:5px;
}
.send-btn:hover{
    background-color:rgb(50, 50, 50);
    border-radius:5px;
    cursor:pointer;
}
.send-btn:active{
    background-color:rgb(70, 70, 70);
}
.copilot-tasks{
    margin-top:10px;
    display:flex;
    flex:1;
    justify-content: center;
    gap:10px;
}
.task-item{
    color:white;
    justify-content:center;
    font-size:14px;
    font-family:Arial;
    background-color:rgb(36, 35, 40);
    border:1px solid rgb(78, 78, 78);
    border-radius:5px;
    padding:10px;
    white-space:nowrap;
    text-align:center;
    cursor:pointer;
}