.main-content{
    margin-top:100px;
    margin-left:370px;
    display:flex;
    flex-direction: column;;
}

.search-box-container{
    position:relative;
    display:flex;
    flex:1;
    flex-direction:column;
    background-color:rgb(36, 35, 40);
    border:1px solid rgb(78, 78, 78);
    border-radius:5px;
    max-width:800px;
}
.search-box{
    border:none;
    resize:none;
    background-color:transparent;
    height:100px;
    color:white;
    height:50px;
}
.box-container2{
    align-items:center;
}